{% extends 'team_member/base.html' %}
{% load crispy_forms_tags %}

{% block head_content %}
<title> Edit </title>
{% endblock %}

{% block body_content %}
<h1> Edit team member </h1>

<p class="fs-5" style="color:#9e9e9e;"> Edit contact info, location and role </p>

<hr style="height:1px;border-width:0;color:gray;background-color:gray">
<h3 class="fs-5"> Info </h3>

<form class="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <p>  {{ form.first_name|as_crispy_field }} </p>
  <p>  {{ form.last_name|as_crispy_field }} </p>
  <p>  {{ form.email|as_crispy_field }} </p>

  <p> {{ form.phone_number|as_crispy_field }} </p>
  <p> Profile Picture <input type="file" name="picture"/> </p>

  <h3> Role </h3>
  <p> {{ form.admin_role|as_crispy_field }} </p>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col">
        <a href="{% url 'delete' team_member_id=team_member_id %}"
           class="btn" style="border: 1px solid #9e9e9e;border-radius: 4px; color:#e64a19;height:1cm;width:3cm;float:left;"> Delete </a>
      </div>
      <div class="col">
      </div>
      <div class="col">
        <input type="submit" value="Save" class="btn btn-primary" style="height:1cm;width:3cm;">
      </div>
    </div>
  </div>
</form>
{% endblock %}